.__user-DGcontainer {
  top: 20vh;
  position: absolute;
  height: 450px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
}

.__user-container {
  display: flex;
  height: 100%;
  width: 85%;
  padding-top: 13px;
  justify-content: flex-end;
  align-items: center;
}

.__user-btn {
  width: 200px;
  height: 30px;
  margin: 0 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00717e;
  color: white;
  font-size: 12px;
  transition: background 250ms ease;
}

.__user-btn:hover {
  background-color: #0093a4;
  color: white;
}

.__form-modal {
  position: relative;
  top: 45vh;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 330px;
  width: 40%;
  background: white;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
.__form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.__form-title {
  font-size: 30px;
  padding: 20px 0;
}
.__form-desc {
  font-size: 18px;
  font-weight: 300;
}
.__form-right {
  width: 60%;
  height: 100%;
  padding: 50px 25px;
}
/* .__form-input {
      border: none;
      outline: none;
      width: 95%;
      border-bottom: 1px solid gray;
      padding: 5px;
      font-size: 15px;
      font-weight: 500;
      height: 30px;
      margin-top: 10px;
      background: transparent;
    } */

.__form-btn {
  width: 100%;
  margin-top: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: #00717e;
  font-size: 15px;
  font-weight: 700;
  height: 48px;
  cursor: pointer;
}
.__form-signup {
  margin-top: 38%;
  text-align: center;
  color: #00717e;
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
}
.__form-close {
  position: absolute;
  top: -10%;
  right: -10%;
  font-size: 30px;
  cursor: pointer;
}

.__form-inputBox {
  position: relative;
}

.__form-inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--flipkart-lightblue);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(80, 80, 80);
  outline: none;
  background: transparent;
}
.__form-inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(80, 80, 80);
  pointer-events: none;
  transition: 0.3s;
}

.__form-inputBox input:focus ~ label,
.__form-inputBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--flipkart-lightblue);
  font-size: 12px;
}
